@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,500;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-image: url('../images/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.form-box{
    position: relative;
    width: 500px;
    height: 650px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    font-size: 2.5em;
    color: white;
    text-align: center;
    padding-bottom: 5px;
}

.input-box{
    position: relative;
    margin: 30px 0;
    width: 390px;
    border-bottom: 2px solid white;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: white;
    font-size: 1em;
    pointer-events: none;
    transition: 0.5s;
}

input:focus ~ label,
input:valid ~ label{
    top: -5px;
}

.input-box input{
    width: 100%;
    height: 70px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: white;
}

.op-box button{
    display: none;
    width: 75%;
    height: 50px;
    border-radius: 40px;
    margin-top: 10px;
    background-color: white;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}

#btnNada{
    display: inline-block;
}

.op-box{
    position: relative;
}

.op-box ul{
    width: 75%;
    list-style: none;
    background-color: white;
    font-size: 1em;
    text-align: center;
}

.op-box ul li{
    cursor: pointer;
}

#listaOp{
    display: none;
}

.op-box ion-icon{
    position: relative;
    margin-left: 5px;
    margin-bottom: 9px;
    color: white;
    font-size: 2em;
    top: 20px;
    cursor: pointer;
}

#trash-icon{
    color: red;
    margin-left: 12px;
}

.resp-box{
    position: relative;
    margin-top: 50px;
    margin-left: -2px;
}

.resp-box h2{
    font-size: 1.5em;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

.resp-box input{
    width: 354px;
    height: 60px;
    background: transparent;
    border: 2px solid white;
    border-radius: 10px;
    outline: none;
    font-size: 1.5em;
    padding: 0 35px 0 15px;
    color: white;
}